@font-face {
	font-family: 'Akademie Std';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/NBAkademieMonoStd-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Akademie Std';
	font-weight: bold;
	font-style: bold;
	src: url('../fonts/NBAkademieStd-Bold.ttf') format('truetype');
}
